.topMain
{
    background: linear-gradient(white,skyblue);
}

.top {
    margin-top: 60px;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background-color: #f5f5f5; Background color for the slide */
  }
  
  .centerImageContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .centerImage {
    animation: slideInUp 1s ease forwards;
    width: 25vw;
    height: auto;
    z-index: 2;
  }
  
  .sideContent {
    position: absolute;
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    z-index: 1;
  }
  
  .leftSide {
    left: 0;
  }
  
  .rightSide {
    right: 0;
  }
  
  .sideItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* transform: rotate(30deg); Adjust angle to create a semi-circle */
  }
  
  .leftSide .sideItem {
    transform-origin: right center;
  }
  
  .rightSide .sideItem {
    transform-origin: left center;
    /* transform: rotate(-30deg); */
  }
  
  
  .sideItem p {
    font-size: 20px;
    text-align: center;
    color: #333;
  }
  .sideItem i{
    font-size:25px ;
  }
  /* line */
  
  /* line End*/
  .carNameSection {

    /* width: 100%; */
    /* height: 20vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: rgba(0, 0, 255, 0.774);
    animation: fadeInUp 1s ease-in-out;
    font-size: 3.5vw;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: 'Arial', sans-serif;
    /* z-index: 1; */
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInUp {
    0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    }
    @keyframes slideInUp {
    0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    } 